<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: head(title='Gameshop4 - Registrarse')"></head>
<body>
<div class="container">
    <div class="row justify-content-md-center mt-5">
        <div class="col col-xs-12 col-md-6">
            <div class="card">
                <div class="card-header navbar-light text-center" style="background-color: #e3f2fd;">
                    <a class="navbar-brand" th:href="@{/}">
                        <img th:src="@{/img/icon.png}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
                        GameShop4
                    </a>
                </div>
                <div class="card-body">
                    <form  method="post" th:action="@{/guardarUser}" th:object="${usuario}">
                        <div class="form-group">
                            <label class="form-label">Nombres:</label>
                            <input th:field="*{nombres}" type="text" th:class="${#fields.hasErrors('nombres')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('nombres')}" th:errors="*{nombres}">
                                Mensaje de error de nombre
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Apellidos:</label>
                            <input th:field="*{apellidos}" type="text" th:class="${#fields.hasErrors('apellidos')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}">
                                Mensaje de error de apellido
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Correo:</label>
                            <input th:field="*{correo}" type="text" th:class="${#fields.hasErrors('correo')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}">
                                Mensaje de error de correo
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="form-label">Contraseña:</label>
                            <input th:field="*{password}" type="text" th:class="${#fields.hasErrors('password')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                Mensaje de error de password
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Registrarse</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/base.html :: jsScripts"></div>
</body>
</html>